body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 8.5% 7.5%;
}

#container{
    display: flex;
    width: 85%;
    height: 80%;
    margin: auto;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 40px 0 #555;
    position: relative;
}

#hero{
    flex: 1;
    background: url(./images/bg-pattern-desktop.svg) no-repeat -570px 68%;
}

#woman{
    position: absolute;
    top: 50px;
    left: -80px;
    clip-path: inset(0 0 0 80px);
}

#box{
    position: absolute;
    top: 185px;
    left: -92px;
}

.faq{
    flex: 1;
    padding: 80px 0;
}

#hero-mobile{
    display: none;
}

h1{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 0;
}

#question-container{
    margin-right: 100px;
    color: hsl(240, 6%, 50%);
    font-weight: 300;
    height: 300px;
    overflow: scroll;
}

.question-box{
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question:hover{
    color: hsl(14, 88%, 65%);
    font-weight: 700;
}

.bold{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

.rotate{
    transform: rotate(180deg);
}

.answer{
    display: none;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.5;
}

.attribution {
    height: 5%;
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color:white;
}

@media (max-width: 1100px){
    body{
        padding: 4% 1%;
    }

    #container{
        max-width: 700px;
        margin-top: 150px;
    }

    #hero{
        display: none;
    }

    #hero-mobile{
        display: block;
        background: url(./images/bg-pattern-mobile.svg) top center no-repeat;
        height: 150px;
        position: relative;
    }

    #woman-mobile{
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: -15px;
    }

    .faq{
        padding: 0 20px 20px 20px;
    }

    h1{
        text-align: center;
        font-size: 36px;
    }

    #question-container{
        margin: 0;
        padding: 0;
    }

    .question-box{
        padding: 20px 0;
    }

    .attribution {
        margin-bottom: 40px;
    }
}